<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>authentification</servlet-name>
        <servlet-class>servelt.authentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profil</servlet-name>
        <servlet-class>servelt.profil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>fff.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajouterproduit</servlet-name>
        <servlet-class>ma.ajouterproduit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authentification</servlet-name>
        <url-pattern>/authentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profil</servlet-name>
        <url-pattern>/profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajouterproduit</servlet-name>
        <url-pattern>/ajouterproduit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
